/* HEADER */
.header {
  top: 70px;
  background: url('../img/living-room/room-16.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: $beige;
  font-family: $fontPrompt;
  
  .header-container {
    @include limitContainer;
    
    .header-content {
      padding: 150px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        text-transform: uppercase;
        @include fontSize(24px, 400);
        text-align: center;
        line-height: 150%;
      }
      
      h3 {
        @include fontSize(14px, 300);
        text-align: center;
        line-height: 150%;
      }

      .header-btn {
        margin-top: 20px;

        .btn {
          @include button;
        }
      }
    }
  }

  // pc screen
  @media (min-width: $navToggle) {
    top: 100px;
    background-position: center center;

    .header-container {

      .header-content {
        padding: 250px 30px;

        h1 {
          @include fontSize(40px, 300);
          letter-spacing: 1px;
          line-height: 200%;
        }
        
        h3 {
          @include fontSize(20px, 400);
          letter-spacing: 1px;
          line-height: 200%;
        }

        // .header-btn {}
      }
    }
  }
}
