/* MAIN */
.page {
  padding: 90px 0 30px 0;
  // font-family: $fontBIZ;
  // font-family: $fontMontserrat;
  font-family: $fontPrompt;
  background-color: $beige;

  .page-section {
    padding: 30px;
    @include limitContainer;

    .page-title {
      @include fontSize(40px, 900);
      margin: 0 0 20px 0;
    }
    .page-content {
      @include fontSize(18px);

      p {
        margin: 0 0 20px 0;
      }
    }
  }
  // .page-section-1 {}
  // .page-section-2 {}
  // .page-section-3 {}
  .page-sub-title {
    @include fontSize(30px, 500);
    margin: 0 0 20px 0;
  }
}
