/* MAIN */
.page {
  padding: 30px 0px 0px 0px;
  font-family: $fontPrompt;
  background-color: $white;

  .discount {
    padding: 30px;
    @include limitContainer;
    text-align: center;

    h1 {
      @include fontSize(20px, 400);
      margin: 0 0 20px 0;
    }

    .discounts-wrapper {
      margin: 0 0 20px 0;

      .discount-item p {
        @include fontSize(14px, 300);
      }
    }

    p {
      @include fontSize(11px, 300);
    }
  }

  &-section {
    // padding: 30px;
    // @include limitContainer;

    .page-title {
      @include fontSize(20px, 400);
      text-align: center;
      margin: 0 0 20px 0;
    }
  }

  .seating {
    padding: 30px;
    @include limitContainer;

    .seating-content {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(3, minmax(0, 1fr));
      gap: 20px;

      .seating-content-item {

        .image {
          height: 80%;
          width: 100%;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .description h3 {
          @include fontSize(14px, 400);
          color: $black;
          padding-top: 10px;
        }
      }
    }
  }

  .living {
    padding: 30px 0;

    .living-slider {
      width: 100%;
      height: auto;
      position: relative;

      .living-slider-container {

        .living-slide {

          .living-slide-img {
            user-select: none;

            img.portrait {
              position: relative;
            }

            .pins-mob {
              position: absolute;
              border: 20px solid transparent;
              cursor: pointer;
            }

            img.landscape {
              display: none;
            }

            .pins-pc {
              display: none;
              position: absolute;
              border: 20px solid transparent;
              cursor: pointer;
            }

            .pins-mob .pin-circle,
            .pins-pc .pin-circle {
              background: $white;
              position: absolute;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              transform: translate(-50%, -50%);
            }

            .pins-mob .pin-circle::after,
            .pins-pc .pin-circle::after {
              content: '';
              position: absolute;
              border: 1px solid $black;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @include transition;
            }

            .pins-mob:hover .pin-circle::after,
            .pins-pc:hover .pin-circle::after {
              content: '';
              background: $black;
            }

            .pin-content {
              position: absolute;
              background: $white;
              width: 120px;
              height: auto;
              bottom: 22px;
              padding: 15px 10px;
              visibility: hidden;
              opacity: 0;
              @include transition;
              transform: translateX(-50%) translateY(0px);
              display: flex;
              flex-direction: column;
              
              a {
                @include fontSize(12px, 400);
                text-decoration: underline;
                color: $black;
              }
              
              span {
                @include fontSize(9px, 300);
              }

              &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $white;
                bottom: -5px;
                left: 51px;
                transform: rotate(45deg);
              }
            }

            .pins-mob:hover .pin-content,
            .pins-pc:hover .pin-content {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      .swiper-pagination-bullet {
        border-radius: 0;
        width: 30px;
        height: 4px;
        line-height: 4px;
        background-color: $white;
      } 

      .swiper-button-prev::after,
      .swiper-button-next::after {
        color: $white;
        @include fontSize(40px, 400);
      }

      .swiper-button-prev::after {
        position: absolute;
        left: 20px;
        transition: left .3s;
        padding: 20px;
      }

      .swiper-button-prev:hover::after {
        left: 10px;
      }

      .swiper-button-next::after {
        position: absolute;
        right: 20px;
        transition: right .3s;
        padding: 20px;
      }

      .swiper-button-next:hover::after {
        right: 10px;
      }
    }
  }

  .kitchen {
    padding: 30px;
    @include limitContainer;

    .kitchen-content {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, minmax(0, 1fr));
      gap: 20px;

      .kitchen-content-item {
        position: relative;

        .kitchen-image {

          // .kitchen-mob {}

          .kitchen-pc {
            display: none;
          }
        }

        .kitchen-description {
          position: absolute;
          bottom: 5%;
          right: 5%;
          color: $white;
        }
      }
    }
  }

  .office {
    padding: 30px 0;

    .office-slider {
      position: relative;

      .office-slider-container {
        padding: 0px 10px;

        .office-slide {
          user-select: none;

          h3 {
            @include fontSize(13px, 500);
            color: $black;
            line-height: 250%;
            text-transform: capitalize;
          }
        }
      }

      .office-button-next,
      .office-button-prev {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }

      .office-button-prev::after, 
      .office-button-next::after {
        color: $black;
        @include fontSize(20px, 900);
      }

      .office-button-prev {
        position: absolute;
        left: 30px;
        transition: left .3s;
        padding: 20px;

        &:hover {
          left: 20px;
        }
      }

      .office-button-next {
        position: absolute;
        right: 30px;
        transition: right .3s;
        padding: 20px;

        &:hover {
          right: 20px;
        }
      }
    }
  }

  .bedroom {
    padding: 30px;
    @include limitContainer;

    .bedroom-content {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, minmax(0, 1fr));
      gap: 20px;

      .bedroom-content-item {
        position: relative;

        .bedroom-image {

          // .bedroom-mob {}

          .bedroom-pc {
            display: none;
          }
        }

        .bedroom-description {
          position: absolute;
          top: 5%;
          right: 5%;
          color: $white;
        }
      }
    }
  }

  .about {

    .about-img {
      margin: 30px 0;
      background: url('../img/about/rsz_furniture-manufacture.webp') no-repeat;
      background-size: cover;
      background-position: 50% 70%;
      width: 100%;
      height: 90vh;
      z-index: 1;
      position: relative;

      &::before {
        content: '';
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
      }
      
      .about-img-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 3;
        position: absolute;

        h1 {
          color: $beige;
          @include fontSize(20px, 400);
          line-height: 1.2;
          text-align: center;
          padding: 0 30px;
        }

        .about-img-content-btn span {
          text-transform: uppercase;
          text-decoration: none;
          color: $black;
          background: $beige;
          padding: 5px 20px;
          border: none;
          border-radius: 2px;
          display: inline-block;
          @include transition;
          @include fontSize(12px, 400);
          cursor: pointer;

          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
          }

          &:active {
            transform: translateY(-3px);
          }
        }
      }
    }

    .about-video {
      background: $beige;

      h1 {
        padding: 30px;
        text-align: center;
        @include fontSize(20px, 400);
        line-height: 1.2;
      }

      video {
        min-width: 100%;
        max-height: 90vh;
        object-fit: cover;
      }

      .img-for-touch {
        background: url('../img/about/rsz_furniture-delivery.webp') no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 50vh;
        display: none;
      }

      .delivery-icons {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .delivery-icons-item {
          display: flex;
          gap: 20px;

          .icon {
            width: 100%;
            height: 100%;
            flex: 1;
          }

          .text {
            flex: 3;
            @include fontSize(12px, 300);

            & p:first-child {
              font-weight: 500;
            }
          }
        }
      }
    }

    .about-reviews {

      .review-slider {
        position: relative;

        .review-slider-container {

          .review-slide {
            display: flex;
            flex-direction: column;
            
            .review-text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background: $beige;
              padding: 20px 30px;
              text-align: center;
              width: 100%;
              height: 250px;

              h1 {
                @include fontSize(18px, 400);
                margin-bottom: 20px;
              }
              
              p {
                @include fontSize(13px, 300);
              }
            }
          }
        }

        .review-pagination {
          position: absolute;
          bottom: 220px;

          span {
            border-radius: 0;
            width: 15px;
            height: 4px;
            line-height: 4px;
            background-color: $black;
            margin: 0 2px;
          }
        }

        .review-prev::after,
        .review-next::after {
          color: $black;
          @include fontSize(24px, 300);
          opacity: .5;
        }

        .review-next {
          position: absolute;
          right: 52%;
        }
      }
    }
  }

  @media (min-width: 320px) {
    .office {
      .office-slider {
        .office-slider-container {
          .office-slide {
            h3 {
              @include fontSize(16px, 500);
            }
          }
        }
      }
    }
  }

  @media (min-width: 480px) {
    .discount {

      .discounts-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
      }
    }
  }

  @media (min-width: 600px) {
   
    .seating {

      .seating-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));

        .seating-content-item {
          position: relative;

          .image {
            height: 100%;
          }

          .description h3 {
            position: absolute;
            left: 20px;
            top: 10px;
          }
        }
      }
    }

    .living {

      .living-slider {

        .living-slider-container {

          .living-slide {

            .living-slide-img {

              img.portrait, 
              .pins-mob {
                display: none;
              }

              img.landscape,
              .pins-pc {
                display: block;
              }
            }
          }
        }
      }
    }

    .kitchen {

      .kitchen-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: auto;

        .kitchen-content-item {

          .kitchen-image {

            .kitchen-mob {
              display: none;
            }

            .kitchen-pc {
              display: block;
            }
          }
        }
      }
    }

    .office {
      .office-slider {
        .office-slider-container {
          padding: 0px 20px;
        }
      }
    }

    .bedroom {

      .bedroom-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: auto;

        .bedroom-content-item {

          .bedroom-image {

            .bedroom-mob {
              display: none;
            }

            .bedroom-pc {
              display: block;
            }
          }
        }
      }
    }

    .about {
      .about-video {
        .delivery-icons {
          padding: 30px 100px;
          .delivery-icons-item {
            .text {
              flex: 5;
            }
          }
        }
      }
      .about-reviews {
        .review-slider {
          .review-slider-container {
            .review-slide {
              display: grid;
              grid-template-columns: repeat(2, minmax(0, 1fr));

              .review-text {
                height: 100%;
              }
            }
          }
          .review-pagination {
            bottom: 60px;
            left: 25%;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    .discount {

      h1 {
        @include fontSize(24px, 400);
      }

      .discounts-wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, minmax(0, 1fr));
        row-gap: 10px;
      }
    }

    &-section {

      .page-title {
        @include fontSize(24px, 400);
      }
    }

    .seating {

      .seating-content {

        .seating-content-item {

          .description h3 {
            @include fontSize(20px, 400);
          }
        }
      }
    }

    .living {

      .living-slider {

        .living-slider-container {

          .living-slide {

            .living-slide-img {

              .pin-content {
                transform: translateX(-50%) translateY(-50px);
              }

              .pins-pc:hover .pin-content {
                transform: translateX(-50%) translateY(0px);
              }
            }
          }
        }
      }
    }

    .office {
      .office-slider {
        .office-slider-container {
          padding: 0px 30px;
        }
      }
    }

    .about {
      .about-video {
        .delivery-icons {
          flex-direction: row;
          gap: 50px;
          padding: 50px 100px;
          .delivery-icons-item {
            .icon {
              flex: 1;
            }
            .text {
              flex: 3;
            }
          }
        }
      }
    }
  }

  @media (min-width: $navToggle) {

    .discount {

      h1  {
        @include fontSize(34px, 400);
        margin: 0 0 30px 0;
      }

      .discounts-wrapper {
        max-width: 800px;
        margin: 0 auto 30px;

        .discount-item p {
          @include fontSize(18px, 300);
        }
      }
      
      p {
        @include fontSize(13px, 300);
      }
    }

    &-section {

      .page-title {
        @include fontSize(34px, 400);
      }
    }

    .living {

      .living-slider {

        .living-slider-container {

          .living-slide {

            .living-slide-img {
              
              .pin-content {
                width: 160px;

                a {
                  @include fontSize(14px, 400);
                }

                span {
                  @include fontSize(10px, 300);
                }

                &::before {
                  content: '';
                  left: 73px;
                }
              }
            }
          }
        }
      }
    }

    .office {
      padding: 30px;
      .office-slider {
        .office-slider-container {
          padding: 0;
          .office-slide {
            h3 {
              @include fontSize(18px, 600);
            }
          }
        }
      }
    }

    .about {
      .about-img {
        margin: 60px 0;
        .about-img-content {
          h1 {
            @include fontSize(30px, 400);
          }
          .about-img-content-btn span {
            padding: 10px 30px;
            @include fontSize(16px, 400);
          }
        }
      }
      .about-video {
        background: $white;
        h1 {
          @include fontSize(34px, 400);
        }
        .delivery-icons {
          background: $beige;
          gap: 120px;
          .delivery-icons-item {
            .text {
              @include fontSize(14px, 300);
            }
          }
        }
      }
      .about-reviews {
        .review-slider {
          .review-slider-container {
            .review-slide {
              .review-text {
                padding: 20px 150px;
                h1 {
                  @include fontSize(30px, 400);
                  margin-bottom: 50px;
                }
                p {
                  @include fontSize(15px, 300);
                }
              }
            }
          }
          .review-prev::after,
          .review-next::after {
            @include fontSize(34px, 300);
          }
        }
      }
    }
  }
}
