// font size & weight
@mixin fontSize($size:16px, $weight:400) {
  font-size: $size;
  font-weight: $weight;
}

// limit container
@mixin limitContainer {
  max-width: 1200px;
  margin: 0px auto;
}

// link hover
@mixin linkHover {
  position: relative;
  &::before {
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $black;
    transform: scaleX(0);
    position: absolute;
    @include transition;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}

// transition
@mixin transition {
  transition: all 0.3s ease 0s;
}

@mixin leftTransition {
  transition: left 0.3s ease 0s;
}

// button
@mixin button {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    background: $yellow;
    padding: 5px 20px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    @include transition;
    @include fontSize(12px, 400);
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  }
  &:active {
    transform: translateY(-3px);
  }
  @media (min-width: $navToggle) {
    &:link,
    &:visited {
      padding: 10px 30px;
      @include fontSize(16px, 400);
    }
  }
}
