// font size & weight
@mixin fontSize($size:16px, $weight:400) {
  font-size: $size;
  font-weight: $weight;
}

// limit container
@mixin limitContainer {
  max-width: 1200px;
  margin: 0px auto;
}

// link hover
@mixin linkHover {
  position: relative;
  &::before {
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $white;
    transform: scaleX(0);
    position: absolute;
    @include transition;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}

// transition
@mixin transition {
  transition: all 0.3s ease 0s;
}

@mixin leftTransition {
  transition: left 0.3s ease 0s;
}
