// font size & weight
@mixin fontSize($size:16px, $weight:400) {
  font-size: $size;
  font-weight: $weight;
}

// limit container
@mixin limitContainer {
  max-width: 1200px;
  margin: 0px auto;
}

// link hover
@mixin linkHover {
  border-bottom: 1px solid white;
  width: fit-content;
  @include transition;
}

// transition
@mixin transition {
  transition: all 0.3s ease 0s;
}

@mixin leftTransition {
  transition: left 0.3s ease 0s;
}
