/* NAVIGATION */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: darkred;
  font-family: $fontPrompt;

  .nav-container {
    @include limitContainer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0px 30px;

    .logo {
      text-transform: uppercase;
      color: white;
      @include fontSize(20px, 900);
      z-index: 5;
      letter-spacing: 4px;
      font-family: $logo2;
    }
    // .nav-menu {}
    // .menu {}
    .menu-icon {
      display: none;
    }
    // .menu-body {}
    .menu-list {
      & > li {
        // position: relative;
        margin: 0px 0px 0px 20px;
        width: fit-content;
        
        &:hover i,
        &.menu-sub-list i {
          transform: rotate(-180deg);
        }
      }
      .menu-link {
        color: $white;
        @include fontSize(18px, 500);
        // @include linkHover;

        i {
          @include fontSize(18px, 400);
          display: inline-block;
          @include transition;
        }
      }
      .menu-sub-list {
        position: absolute;
        // top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 15px;
        min-width: 200px;
        // @include limitContainer;
        // padding: 15px 10vw;

        li {
          margin: 0px 0px 10px 0px;

          &:last-child {
            margin: 0;
          }
        }
      }
      .menu-sub-link {
        color: $white;
        @include linkHover;
      }
      .menu-arrow {
        display: none;
      }
    }
  }

  // pc screen
  @media (min-width: $navToggle) {
    & {
      top: 30px;
    }
    .menu-list {
      display: flex;
      align-items: center;

      & > li {
        padding: 10px 0px;
      }

      .menu-sub-list {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        @include transition;
        pointer-events: none;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  // burger menu
  @media (max-width: $navToggle) {
    .menu-icon {
      z-index: 5;
      display: block !important;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;

      & span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        @include transition;
        background-color: white;
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
      }
    }
    
    .menu-icon.active span {
      transform: scale(0) translate(0, -50%);
    }

    .menu-icon.active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu-icon.active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }

    .menu-body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      @include leftTransition;
      overflow: auto;

      &.active {
        left: 0;
      }

      &::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: darkred;
        z-index: 2;
      }

      .menu-list > li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
       
        &:last-child {
          margin-bottom: 0px;
        }
        
        .menu-link {
          @include fontSize(20px);
        }

        .menu-sub-list {
          display: none;
          position: relative;
          background-color: transparent;
          flex: 1 1 100%;
          margin: 20px 0px 0px 0px;
        }
        
        .menu-sub-list.open {
          display: block;

          .menu-sub-link {
            @include fontSize(19px);
          }
        }
      }
    }
  }
}

/* pc or touchscreen */
body.pc .menu-list > li:hover .menu-sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body.pc .menu-link {
  @include linkHover;
}

body.touch .menu-list > li {
  display: flex;
  align-items: center;
  width: 100% !important;
}

body.touch .menu-link {
  flex: 1 1 auto;
}

body.touch .menu-link i {
  display: none !important;
}

body.touch .menu-arrow {
  display: block !important;
  color: $white;
  @include fontSize(28px, 400);
  @include transition;
}

body.touch .menu-list > li.active .menu-arrow {
  transform: rotate(-180deg);
}

body.touch .menu-list > li.active .menu-sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
  display: block;
}
